```{contents}
```

## Data Transformation

In [29]:
import pandas as pd
import numpy as np

url = "https://github.com/svgoudar/datasets/blob/main/loan_applications.csv?raw=true"
df = pd.read_csv(url)
df.head()

,application_id,customer_id,application_date,loan_type,loan_amount_requested,loan_tenure_months,interest_rate_offered,purpose_of_loan,employment_status,monthly_income,...,existing_emis_monthly,debt_to_income_ratio,property_ownership_status,residential_address,applicant_age,gender,number_of_dependents,loan_status,fraud_flag,fraud_type
0,c8bf0bea-70e6-4870-9125-41b8210c527f,CUST109427,2023-04-09,Business Loan,604000.0,12,11.66,Medical Emergency,Retired,34700.0,...,1100.0,3.17,Rented,"94/31, Sehgal Zila, Vadodara-380521, Anantapur...",28,Female,3,Approved,0,NaN
1,91224cec-3544-4bc7-ac15-a9792da54c02,CUST106146,2023-09-23,Car Loan,100000.0,240,13.62,Education,Unemployed,51600.0,...,0.0,0.00,Owned,"H.No. 00, Sheth Chowk, Ichalkaranji 006728, Im...",44,Other,3,Approved,0,NaN
2,4efcd02d-4a03-4ab7-9bd1-0ff430493d0c,CUST100674,2023-05-22,Education Loan,431000.0,60,11.40,Medical Emergency,Self-Employed,14800.0,...,4600.0,31.08,Rented,"H.No. 81, Dutta Path, Kozhikode-340301, Tadepa...",56,Other,4,Approved,0,NaN
3,a61337d4-ba04-4a68-b492-2cb8266e6ed7,CUST106466,2024-07-09,Car Loan,324000.0,120,10.36,Debt Consolidation,Self-Employed,28800.0,...,4000.0,13.89,Rented,"H.No. 022, Rege Road, Tiruvottiyur-927857, Aur...",27,Other,4,Declined,0,NaN
4,a8d1639e-170b-41b2-826a-55c7dae38d16,CUST112319,2023-11-20,Personal Loan,100000.0,36,14.14,Business Expansion,Salaried,43900.0,...,1100.0,2.51,Rented,"85/24, Bali Zila, Sambalpur 922071, Tumkur, Ke...",50,Other,0,Declined,0,NaN



---

### Numeric / Arithmetic Transformations

In [30]:
df.columns

Index(['application_id', 'customer_id', 'application_date', 'loan_type',
       'loan_amount_requested', 'loan_tenure_months', 'interest_rate_offered',
       'purpose_of_loan', 'employment_status', 'monthly_income', 'cibil_score',
       'existing_emis_monthly', 'debt_to_income_ratio',
       'property_ownership_status', 'residential_address', 'applicant_age',
       'gender', 'number_of_dependents', 'loan_status', 'fraud_flag',
       'fraud_type'],
      dtype='object')

In [31]:
### Create new numeric columns
df['loan_amount'] = df['loan_amount_requested']
df['income'] = df['monthly_income']
df['loan_plus_income'] = df['loan_amount'] + df['income']          # addition
df['loan_squared'] = df['loan_amount'] ** 2                        # power
df['loan_abs'] = df['loan_amount'].abs()                            # absolute
df['loan_clipped'] = df['loan_amount'].clip(0, 50000)              # clip values
df['loan_cumsum'] = df['loan_amount'].cumsum()                     # cumulative sum
df['loan_diff'] = df['loan_amount'].diff()                          # difference
df['loan_log'] = np.log1p(df['loan_amount'])                       # log(1+x)
df[['loan_amount','loan_plus_income','loan_squared','loan_abs','loan_clipped','loan_cumsum','loan_diff','loan_log']].head()

,loan_amount,loan_plus_income,loan_squared,loan_abs,loan_clipped,loan_cumsum,loan_diff,loan_log
0,604000.0,638700.0,3.648160e+11,604000.0,50000.0,604000.0,NaN,13.311331
1,100000.0,151600.0,1.000000e+10,100000.0,50000.0,704000.0,-504000.0,11.512935
2,431000.0,445800.0,1.857610e+11,431000.0,50000.0,1135000.0,331000.0,12.973866
3,324000.0,352800.0,1.049760e+11,324000.0,50000.0,1459000.0,-107000.0,12.688502
4,100000.0,143900.0,1.000000e+10,100000.0,50000.0,1559000.0,-224000.0,11.512935



---

### String / Text Transformations




### Cleaning / Formatting

In [32]:
# Strip spaces and title-case loan_type
df['loan_type_clean'] = df['loan_type'].str.strip().str.title()

# Capitalize purpose_of_loan
df['purpose_clean'] = df['purpose_of_loan'].str.capitalize()

# Uppercase employment_status
df['employment_upper'] = df['employment_status'].str.upper()



---

### Searching / Matching

In [33]:
# Check if 'Loan' is in loan_type
df['loan_contains_loan'] = df['loan_type'].str.contains('Loan')

# Check if purpose starts with 'Medical'
df['purpose_medical'] = df['purpose_of_loan'].str.startswith('Medical')

# Count occurrences of 'e' in purpose_of_loan
df['e_count'] = df['purpose_of_loan'].str.count('e')



---

  ### Replacement / Modification

In [34]:

# Replace spaces with underscores in loan_type
df['loan_type_underscore'] = df['loan_type'].str.replace(' ', '_')

# Slice first 3 characters of customer_id
df['customer_id_short'] = df['customer_id'].str.slice(0,3)

# Repeat loan_status twice
df['loan_status_repeat'] = df['loan_status'].str.repeat(2)



---

### Splitting / Extracting

In [35]:


# Get first word of purpose_of_loan
df['purpose_first_word'] = df['purpose_of_loan'].str.split(' ').str.get(0)

# Extract digits from residential_address
df['postal_code'] = df['residential_address'].str.extract('(\d{6})')

# Extract all numbers from address
df['all_numbers'] = df['residential_address'].str.findall('\d+')

<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:8: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:8: SyntaxWarning: invalid escape sequence '\d'
C:\Users\sangouda\AppData\Local\Temp\ipykernel_15992\3220266368.py:5: SyntaxWarning: invalid escape sequence '\d'
  df['postal_code'] = df['residential_address'].str.extract('(\d{6})')
C:\Users\sangouda\AppData\Local\Temp\ipykernel_15992\3220266368.py:8: SyntaxWarning: invalid escape sequence '\d'
  df['all_numbers'] = df['residential_address'].str.findall('\d+')



---

### Type Checks / Information

In [36]:

# Check if customer_id is alphanumeric
df['id_is_alnum'] = df['customer_id'].str.isalnum()

# Length of application_id
df['app_id_length'] = df['application_id'].str.len()



---

### Padding / Justification

In [37]:

# Center loan_type in width 20
df['loan_type_centered'] = df['loan_type'].str.center(20,'*')

# Zero-fill last 3 characters of customer_id (example)
df['customer_id_zfill'] = df['customer_id'].str[-3:].str.zfill(5)



---

###  Combining / Joining

In [38]:
# Combine first word of purpose and loan_type
df['combined'] = df['loan_type'].str.cat(df['loan_status'], sep='_')

In [39]:
df.combined

0         Business Loan_Approved
1              Car Loan_Approved
2        Education Loan_Approved
3              Car Loan_Declined
4         Personal Loan_Declined
                  ...
49995    Education Loan_Approved
49996    Education Loan_Approved
49997          Car Loan_Approved
49998     Business Loan_Approved
49999         Home Loan_Approved
Name: combined, Length: 50000, dtype: object


---

**Summary Table of Transformations**

| Transformation        | Column Example                 | Method                                 |
| --------------------- | ------------------------------ | -------------------------------------- |
| Strip / Title         | loan\_type                     | `.str.strip().str.title()`             |
| Capitalize            | purpose\_of\_loan              | `.str.capitalize()`                    |
| Uppercase             | employment\_status             | `.str.upper()`                         |
| Contains / Startswith | loan\_type / purpose\_of\_loan | `.str.contains()`, `.str.startswith()` |
| Count                 | purpose\_of\_loan              | `.str.count()`                         |
| Replace               | loan\_type                     | `.str.replace()`                       |
| Slice                 | customer\_id                   | `.str.slice()`                         |
| Repeat                | loan\_status                   | `.str.repeat()`                        |
| Split / Get           | purpose\_of\_loan              | `.str.split().str.get(0)`              |
| Extract / Findall     | residential\_address           | `.str.extract()`, `.str.findall()`     |
| Type check            | customer\_id                   | `.str.isalnum()`                       |
| Length                | application\_id                | `.str.len()`                           |
| Center / Zfill        | loan\_type / customer\_id      | `.str.center()`, `.str.zfill()`        |
| Concatenate           | purpose + loan\_type           | `.str.cat()`                           |



---

### Categorical Transformations

In [40]:
# Convert to category and get codes
df['status'] = df['loan_status']
df['status'] = df['status'].astype('category')
df['status_code'] = df['status'].cat.codes

# One-hot encoding
df_status_dummies = pd.get_dummies(df['status'], prefix='status')
df[['status','status_code']].join(df_status_dummies).head()

,status,status_code,status_Approved,status_Declined,status_Fraudulent - Detected,status_Fraudulent - Undetected
0,Approved,0,True,False,False,False
1,Approved,0,True,False,False,False
2,Approved,0,True,False,False,False
3,Declined,1,False,True,False,False
4,Declined,1,False,True,False,False



---

### Date / Time Transformations

*(Assuming `application_date` column exists)*

In [41]:
df['application_date'] = pd.to_datetime(df['application_date'], errors='coerce')
df['year'] = df['application_date'].dt.year
df['month'] = df['application_date'].dt.month
df['day'] = df['application_date'].dt.day

df[['application_date','year','month','day']].head()

  application_date  year  month  day
0       2023-04-09  2023      4    9
1       2023-09-23  2023      9   23
2       2023-05-22  2023      5   22
3       2024-07-09  2024      7    9
4       2023-11-20  2023     11   20



---

### Element-wise / Column-wise Transformations

In [42]:
# map on Series (element-wise)
df['loan_scaled'] = df['loan_amount'].map(lambda x: x/1000)

# apply on column(s) (column-wise)
df[['loan_amount','monthly_income']].apply(np.log1p)

# applymap on entire DataFrame (element-wise)
df[['loan_amount','monthly_income']].applymap(lambda x: x**2)

C:\Users\sangouda\AppData\Local\Temp\ipykernel_15992\1770321388.py:8: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[['loan_amount','monthly_income']].applymap(lambda x: x**2)

        loan_amount  monthly_income
0      3.648160e+11    1.204090e+09
1      1.000000e+10    2.662560e+09
2      1.857610e+11    2.190400e+08
3      1.049760e+11    8.294400e+08
4      1.000000e+10    1.927210e+09
...             ...             ...
49995  1.451610e+11    2.420640e+09
49996  5.416960e+11    8.179600e+08
49997  1.900960e+11    1.764000e+09
49998  6.839290e+11    2.180890e+09
49999  1.000000e+10    6.988960e+09

[50000 rows x 2 columns]



---

### Group-wise Transformations

In [43]:
# Mean loan per status
df['loan_mean_by_status'] = df.groupby('status')['loan_amount'].transform('mean')

# Aggregation example
df.groupby('status')['loan_amount'].agg(['mean','median','max','min'])

C:\Users\sangouda\AppData\Local\Temp\ipykernel_15992\3442481362.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df['loan_mean_by_status'] = df.groupby('status')['loan_amount'].transform('mean')
C:\Users\sangouda\AppData\Local\Temp\ipykernel_15992\3442481362.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('status')['loan_amount'].agg(['mean','median','max','min'])

                                  mean    median        max       min
status
Approved                 514625.727704  504000.0  1618000.0  100000.0
Declined                 511739.001483  500000.0  1485000.0  100000.0
Fraudulent - Detected    509380.073801  492500.0  1521000.0  100000.0
Fraudulent - Undetected  495138.429752  487000.0  1336000.0  100000.0



---

### Sorting / Ranking

In [44]:
df_sorted = df.sort_values(by='loan_amount', ascending=False)
df['loan_rank'] = df['loan_amount'].rank(method='dense', ascending=False)
df[['loan_amount','loan_rank']].head()

   loan_amount  loan_rank
0     604000.0      808.0
1     100000.0     1312.0
2     431000.0      981.0
3     324000.0     1088.0
4     100000.0     1312.0



---

### Binning / Discretization

In [45]:
# Interval-based binning
df['loan_bin'] = pd.cut(df['loan_amount'], bins=[0,10000,25000,50000,100000], labels=['Low','Medium','High','Very High'])

# Quantile-based binning
df['loan_quantile_bin'] = pd.qcut(df['loan_amount'], q=4, labels=['Q1','Q2','Q3','Q4'])

df[['loan_amount','loan_bin','loan_quantile_bin']].head()

   loan_amount   loan_bin loan_quantile_bin
0     604000.0        NaN                Q3
1     100000.0  Very High                Q1
2     431000.0        NaN                Q2
3     324000.0        NaN                Q2
4     100000.0  Very High                Q1



---

**Summary of Transformations Applied**

1. **Numeric / Arithmetic** → `+`, `-`, `**`, `abs`, `clip`, `cumsum`, `diff`, `log1p`
2. **String / Text** → `strip`, `title`, `replace`, `split`
3. **Categorical** → `astype('category')`, `.cat.codes`, `get_dummies`
4. **Date / Time** → `to_datetime`, extract year/month/day
5. **Element-wise / Column-wise** → `map`, `apply`, `applymap`
6. **Group-wise** → `groupby().transform()`, `groupby().agg()`
7. **Sorting / Ranking** → `sort_values`, `rank`
8. **Binning / Discretization** → `cut`, `qcut`
9. **Combining Columns** → `str.cat()`